<div class="container">
    <h3>Source code and license</h3>
    <p>
        This free software is under the GPL V3 license. <a href="https://github.com/fuhrmanator/course-activity-planner">Github repository</a>
    </p>
    <h3>Privacy Policy</h3>
    <p>
        All collected information is used to identify users to allow re-use of older plannings. <a href="TODO">Read the full policy</a>
    </p>
    <h3>Attributions</h3>
    <p>
        <a href="http://cliparts.co/clipart/2335762" title="Image from cliparts.co"><img src="http://cliparts.co/cliparts/rin/Ggd/rinGgdy7T.svg" width="42" alt="Graduation Cap clip art - vector clip art online, royalty free ..." /></a>
    </p>
    <div>Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
