<div class="container">
    <h1>Course Activity Planner</h1>

    <h3>Attributions</h3>
    <p>
        The CAP logo was made by Christopher Furhman with X CONTENT
    </p>

    <h3>Source code and license</h3>
    <p>
        This free software is under the GPL V3 license. <a href="https://github.com/fuhrmanator/course-activity-planner">Github repository</a>
    </p>
    <h3>Privacy Policy</h3>
    <p>
        All collected information is used to identify users to allow re-use of older plannings. <a href="TODO">Read the full policy</a>
    </p>
</div>
