<div class="container">
    <h1>Course Activity Planner</h1>
    <p>Plan your activities below</p>
    <div class="row">
        <div class="col-md-12">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <h3>Your text planning</h3>
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" id="planning" ng-model="planning_txt" placeholder="Q1 S1F S2..."></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="btn-group">
                        <button class="btn btn-info center-block" ng-click="submit()">Save and preview</button>
                        <button class="btn btn-success center-block" ng-click="download()">Save and download</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3>Available activities</h3>
            <p>Filter by activity type</p>
            <div class="btn-group">
                <button ng-click="toggleInventoryKey('Q')" type="button" name="button" class="btn" ng-class="[{'btn-primary' : !invSelected('Q')}, {'btn-success' : invSelected('Q')}]">Quizzes</button>
                <button ng-click="toggleInventoryKey('P')" type="button" name="button" class="btn" ng-class="[{'btn-primary' : !invSelected('P')}, {'btn-success' : invSelected('P')}]">Praticas</button>
                <button ng-click="toggleInventoryKey('S')" type="button" name="button" class="btn" ng-class="[{'btn-primary' : !invSelected('S')}, {'btn-success' : invSelected('S')}]">Seminars</button>
                <button ng-click="toggleInventoryKey('H')" type="button" name="button" class="btn" ng-class="[{'btn-primary' : !invSelected('H')}, {'btn-success' : invSelected('H')}]">Homeworks</button>
            </div>
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width: 5em;">Key</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="e in inventory | filter: filterInventoryByKey">
                        <td>
                            {{e.key_str + e.rel_id}}
                        </td>
                        <td>
                            {{e.title}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h2>Preview</h2>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width: 10em;">Date</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="e in preview | filter: filterPreviewByKey">
                        <td>
                            {{e.timestamp | amFromUnix | amDateFormat:'YYYY-MM-DD HH:mm'}}
                        </td>
                        <td>
                            {{e.title}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <p>Filter by activity type</p>
            <div class="btn-group">
                <button ng-click="togglePreviewKey('Q')" type="button" name="button" class="btn" ng-class="[{'btn-primary' : !previewSelected('Q')}, {'btn-success' : previewSelected('Q')}]">Quizzes</button>
                <button ng-click="togglePreviewKey('P')" type="button" name="button" class="btn" ng-class="[{'btn-primary' : !previewSelected('P')}, {'btn-success' : previewSelected('P')}]">Praticas</button>
                <button ng-click="togglePreviewKey('S')" type="button" name="button" class="btn" ng-class="[{'btn-primary' : !previewSelected('S')}, {'btn-success' : previewSelected('S')}]">Seminars</button>
                <button ng-click="togglePreviewKey('H')" type="button" name="button" class="btn" ng-class="[{'btn-primary' : !previewSelected('H')}, {'btn-success' : previewSelected('H')}]">Homeworks</button>
            </div>
        </div>
    </div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
</div>
